<% const day = new Date(); let copyYear = day.getFullYear() %>

<footer>
    <div id="social-icons">
        <img src="/images/facebook-icon.webp" alt="facebook icon" loading="lazy" width="24" height="24">
        <img src="/images/instagram-icon.webp" alt="instagram icon" loading="lazy" width="24" height="24">
        <img src="/images/x-icon.webp" alt="x icon" loading="lazy" width="24" height="24">
    </div>
    <div id="rights">
        <p>&copy;<%- copyYear %> Conjugal Clinics</p>
        <span><a href="/contact">Contact Us</a></span>
    </div>
</footer>
