<!DOCTYPE html>
<html lang="en-US">
    <%- include('../partials/head') %>
    <body>
        <div id="wrapper">
            <%- include('../partials/header') %>
            <main>
                <%- body %>
            </main>
            <%- include('../partials/footer') %>

        </div>
        <script src="../../js/script.js"></script>
    </body>
</html>