<% if(title) {%>
    <h1><%- title %></h1>
    <% } %>

<div id="mission-statement">
    <div>
        <h2>Our Vision</h2>
        <p class="quote">Creating educational opportunities for families, individuals, couples,
          and communities to prioritize the cultivation of healthy family
          relationships for the overall well-being of our societies.</p>
    </div>
    <div>
        <h2>Our Mission</h2>
        <p class="quote">Providing Marital and Family life, Education for successful families.</p>
    </div>
</div>
<div class="about">
    <h2>Team Lead</h2>
    <img src="https://placehold.co/400" alt="placeholder" width="250" height="300">
    <p>Nosakhare Calvinbrown Okhomina is the team lead. He has over 22 years of marital and
    family experiences as a husband, father, student, learner,  Educator, and 
    ecclesiastical leader in the engaged democratic family community.<br>Some
    of the educational institutions and qualifications include 
    (Advanced Marriage and Family Functioning), MFHR ( Marriage, Family and Human Relations),
    from Brigham Young University Idaho, USA, EPM, (Project Management) Ensign College, USA, 
    MBA, University of Benin and BSC. Edo State University, Edo State.</p>
</div>
<div class="about">
    <h2>Team Lead</h2>
    <img src="https://placehold.co/400" alt="placeholder" width="250" height="300">
    <p>Beauty E. Okhomina is a Spouse, Mother, and Nurturer, with over 22 years
    of marriage education and experience, learning teaching and leadership.
    Her College Degrees and Certificates include Advanced Certificate in 
    Epidemiology, and an Associate Degree in Applied Health, from Brigham
    Young University Idaho, USA, a PGD in Education (ABU, Zaria), 
    and an HND in Arts and Design, from Auchi Polytechnic, Edo State.</p>
</div>
