<%  if (title) {%>
    <h1><%- title %></h1>
    <%} %>

<div class="form-box">
<form action="/book-appointment" method="post">
<fieldset>
<legend>Personal Details</legend>
<div class="instruct">
* Indicates required field and must be filled
</div>
<label class="top">
First Name* <input type="text" id="fname" name="fname" required />
</label>
<label class="top">
Surname* <input type="text" id="lname" name="lname" required />
</label>
<label class="top">
Mobile Number <input type="tel" id="phone" name="phone" />
</label>
<label class="top">
Email* <input type="email" id="email" name="email" required />
</label>
<label class="top">
State/Region/Country of residence:
<select name="region" id="region">
<option value="">Select your region/state of residence</option>
<option value="foreign">Outside Nigeria</option>
<option value="fct">FCT</option>
<option value="abia">Abia State</option>
<option value="adamawa">Adamawa State</option>
<option value="ibom">Akwa Ibom State</option>
<option value="anambra">Anambra State</option>
<option value="bauchi">Bauchi State</option>
<option value="bayelsa">Bayelsa State</option>
<option value="benue">Benue State</option>
<option value="borno">Borno State</option>
<option value="cross">Cross River State</option>
<option value="delta">Delta State</option>
<option value="ebonyi">Ebonyi State</option>
<option value="edo">Edo State</option>
<option value="ekiti">Ekiti State</option>
<option value="enugu">Enugu State</option>
<option value="gombe">Gombe State</option>
<option value="imo">Imo State</option>
<option value="jigawa">Jigawa State</option>
<option value="kaduna">Kaduna State</option>
<option value="kano">Kano State</option>
<option value="katsina">Katsina State</option>
<option value="kebbi">Kebbi State</option>
<option value="kogi">Kogi State</option>
<option value="kwara">Kwara State</option>
<option value="lagos">Lagos State</option>
<option value="nassarawa">Nassarawa State</option>
<option value="niger">Niger State</option>
<option value="ogun">Ogun State</option>
<option value="ondo">Ondo State</option>
<option value="osun">Osun State</option>
<option value="oyo">Oyo State</option>
<option value="plateau">Plateau State</option>
<option value="rivers">Rivers State</option>
<option value="sokoto">Sotoko State</option>
<option value="taraba">Taraba State</option>
<option value="yobe">Yobe State</option>
<option value="zamfara">Zamfara State</option>
</select>
</label>
<div id="ftf-option"></div>
<div class="instruct">Marital Status</div>
<label class="side">
<input type="radio" name="status" id="married" required /> Married
</label>
<label class="side">
<input type="radio" name="status" id="single" required /> Single
</label>
<label class="side">
<input type="radio" name="status" id="engaged" required /> Engaged
</label>
<label class="side">
<input type="radio" name="status" id="divorced" required />
Divorced
</label>
<label class="side">
<input type="radio" name="status" id="widowed" required /> Widowed
</label>
<label class="side">
<input type="radio" name="status" id="seperated" required />
Seperated
</label>
<label class="side">
<input type="radio" name="status" id="unknown" required /> Prefer
Not to Say
</label>
</fieldset>

<fieldset>
<legend>Service Details</legend>
<div class="instruct">Select the service category required</div>
<label class="side">
<input
type="checkbox"
id="education"
name="education"
value="education"
/> Mariaige and Family Preparation
</label>
<label class="side">
<input
type="checkbox"
id="therapy"
name="therapy"
value="therapy"
/> Marriage Repair and Marital Therapy
</label>
<label class="side">
<input
type="checkbox"
id="community"
name="community"
value="community"
/> Family and Community Education
</label>
<div class="instruct">Are you taking the session as a couple?</div>
<label class="side">
<input type="radio" name="couple" id="yes" value="yes" /> Yes
</label>
<label class="side">
<input type="radio" name="couple" id="no" value="no" /> No
</label>
<div id="spouse-info"></div>
<label class="side">
Select Date*
<input type="date" id="date" name="date" value="date" />
</label>
<label class="side">
Select time* <input type="time" id="time" name="time" />
</label>
</fieldset>
<label for="submit">
<button type="submit">Book Appointment</button>
</label>
</form>
</div>