<% if (title) {%>
    <h1><%- title %></h1>
    <% } %>
<div id="hero">
    <picture>
        <source srcset="/images/happy-hero-small.webp" media="(max-width: 500px)">
        <img src="/images/happy-couple-moment.webp" alt="Happy couple enjoying a quiet moment" width="800" height="500" loading="lazy">
    </picture>
    <div id="hero-cta">
        <span class="quote">Learn to get the best out of your marriage...<br>...let us show you how</span>  
    </div>
    <span class="heroBtn"><a href="/book-appointment">Book Appointment Now!</a></span>
</div>
<div id="home-content">
    <div class="card" >
        <h2>Why Conjugal Clinics</h2>
        <picture>
            <source srcset="/images/unhappy-small.webp" media="(max-width: 500px)">
            <img id="float-left" src="/images/unhappy.webp" alt="image of an unhappy tensed couple" width="600" height="300">
        </picture>
        <p>Because marriages and families everywhere struggle with the increasing
          likelihood of failure, we founded Conjugal Clinics to help and support
          males and females, preparing and committed to establishing happy and
          successful marital and family relationships, by providing marital and
          family life education, counseling and therapy to help create,
          cultivate and achieve marital and family happiness, unity, peace,
          health and wealth. Successful families are achievable through the
          education and application of the principles of work, virtue, service,
          repentance, forgiveness, faith, prayers, mutual respect, love, and
          wholesome recreational activities. Our team is composed of maritally
          successful, professional marriage and family life educators, with over
          twenty years of experience in marriage, counseling, therapy, and
          educating families on applicable ways of cultivating and establishing
          successful families.</p>
    </div>
     <div class="card">
        <h2>Youtube Videos/ Videoss</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/sKR1c6__Klo?si=3Jx3_YRcBsHl0SWM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="card">
        <h2>Our Core Values</h2>
        <ul>
          <li>
            Marriage between a man and a woman is ordained of God, and the
            Family is the fundamental unit of the society.
          </li>
          <li>
            A peaceful and happy marriage is central to the functioning and
            progress of society.
          </li>
          <li>
            Husband and wife have a solemn/covenant responsibility to love and
            care for each other and their children.
          </li>
          <li>
            Parents have a sacred duty to rear up their children in love and
            righteousness, providing for their physical and spiritual
            necessities.
          </li>
          <li>
            Happiness in family life is most likely to be achieved when founded
            upon Christlike principles of faith, prayer, repentance,
            forgiveness, respect, love, compassion, work, and wholesome
            recreational activities.
          </li>
          <li>
            Husband and wife are obligated to help and support each other as
            equal partners
          </li>
        </ul>

    </div>
   
    <div class="card" id="consultation-hours">
        <h2>Consultations</h2>
        <h3>Office Hours</h3>
        <p>Mondays to Fridays - 9:00am to 5:00pm</p>
        <p>Saturdays - 12:00noon to 4:00pm</p>

        <h3>Online Service Hours</h3>
        <p>Mondays to Saturdays - 24 hours</p>
        <p>**Face to face physical consultations is only available in Lagos</p>
      </div>
    </div>
</div>
