<% if (title) {%>
    <h1><%- (title) %></h1>
    <% } %>
<div id="services">
    <div class="card">
        <h2>Education</h2>
        <img src="https://placehold.co/400" alt="placeholder" width="300" height="300">
        <p>We introduce and teach family theories, marriage dynamics, models, and
      practices that provide a sustainable framework, for the establishment of
      successful families. We teach eternally value-based principles guaranteed
      to hel your quest for marital bliss and your
      happily-ever-after future together as families.</p>
    </div>
    <div class="card">
        <h2>Counselling</h2>
        <img src="https://placehold.co/400" alt="placeholder" width="300" height="300">
        <p>Assisting, and guidance in successful resolutions of conflicts, and
      cultivating healthy marriage and family relationships.</p>
    </div>
    <div class="card">
        <h2>Therapy</h2>
        <img src="https://placehold.co/400" alt="placeholder" width="300" height="300">
        <p>We provide you with value and ethically-based communication and
      interactions designed to help individuals, couples, and family members,
      improve and nurture their self-concept and interpersonal relationships</p>
    </div>
    <div class="card">
        <h2>Mentoring</h2>
        <img src="https://placehold.co/400" alt="placeholder" width="300" height="300">
        <p>Providing developmental opportunities through mentoring in the zone of
      proximal development, to enhance the development of problem-solving
      skills, knowledge, and positive experiences.</p>
    </div>
</div>
<div id="service-categories" class="card">
    <h2>Service Categories</h2>
    <span>Our services fall under the following categories</span>
    <ul>
      <li>
        Marriage and Family Educational Preparation course modules; courtship
        and marriage The 7 Principles for the successful establishment of a new
        happy and thriving, family unit.
      </li>
      <li>Marriage repair and marital therapy</li>
      <li>
        Family and community education; preventing and managing the risk of teen
        pregnancies, mitigating gender-based violence in relationships, learning
        the principles of cultivating healthy relationships, and educating the
        youths on how to avoid drug addiction and misuse.
      </li>
    </ul>
</div>